version: '3'

services:

  # Proxies requests to internal services
  reverse-proxy:
    image: nginx:1.17.1-alpine
    container_name: reverse_proxy
    depends_on:
        - ufo-app
        - api-service
    volumes:
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 51413:80

  # generates ufo app
  ufo-app:
    image: ufo-app
    container_name: ufo-app
    build:
      context: ./ufoApp
    depends_on:
        - api-service
    ports:
      - 8080:80
    restart: on-failure


  # backend api service
  api-service:
    image: api-service
    container_name: api-service
    build:
      context: ./api
    ports:
      - 8000:8000
    restart: on-failure