<ng-container *ngFor="let location of locations; let i = index">
  <div class="card-row" *ngIf="i % 2 == 0">
    <div class="card-col">
      <nb-card status="info">
        <nb-card-header *ngIf="locations[i + 0].state === ''">
          State: UNKNOWN
        </nb-card-header>
        <nb-card-header
          *ngIf="i + 0 < locations.length && locations[i + 0].state != ''"
        >
          State: {{ locations[i + 0].state }}
        </nb-card-header>
        <nb-card-body> Sightings: {{ locations[i + 0].count }}</nb-card-body>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card status="info">
        <nb-card-header *ngIf="i + 1 < locations.length">
          State: {{ locations[i + 1].state }}
        </nb-card-header>
        <nb-card-body> Sightings: {{ locations[i + 1].count }} </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-container>
