<nb-card accent="info" >
    <nb-card-header><h3> About the site </h3></nb-card-header>
    <nb-card-body>
       <p>Built this site to experient with FastAPI, a newerish Python web framework. Of course, I also used this opportunity to grab
         some data from kaggle, a UFO dataset that came in the form of a csv. I thought this would make a great and fun data set. 
        </p>    
         <p>Little did I know that the site was taken and enhanced from another data science site, link here, which seems to be
          the original person who scraped the website. Nuforc, the actual site that has been taking the time to receive 
          and process these reports for 30 years here. </p>
        
         <p>
          At this point, I still decided it would be fun to use this dataset to learn the frameworks above. I hope that the original
          website owners enjoy this fun mock modernized layout. 
         </p>
      
    </nb-card-body>
  </nb-card>
    <nb-card  accent="info" >    
      <nb-card-header><h3> Tech used </h3></nb-card-header>

  <nb-card-body>
     
     <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          NuForc (data set)
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          the original collectors of the dataset.
        </nb-accordion-item-body>
      </nb-accordion-item>  
      <nb-accordion-item>
          <nb-accordion-item-header>
            Fast API (Backend)
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Fast api link
          </nb-accordion-item-body>
        </nb-accordion-item>
      
        <nb-accordion-item>
          <nb-accordion-item-header>
            Angular 10 (Frontend)
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            link
          </nb-accordion-item-body>
        </nb-accordion-item>
      
        <nb-accordion-item >
          <nb-accordion-item-header>
            Database (SQLite)
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Backend
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item >
          <nb-accordion-item-header>
            Nebular (UI theming)
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Backend
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>

  