
<nb-card>
    <nb-card-body >
        <form [formGroup]="newSightingForm" (ngSubmit)="onSubmit()">   
        <div>
            Date: <input 
            formControlName="TimeStamp"
            type="text" nbInput placeholder="When?">
        </div>
        <div>
            City: <input 
            formControlName="City"
            type="text" nbInput placeholder="eg. Los Angeles">
        </div>
        <div>
            State Province: <nb-select placeholder="eg. CA/Alberta" [(selected)]="selectedItem">
                <nb-option *ngFor="let c of statesList" [value]="c">
                      {{ c }}
                 </nb-option>
          </nb-select>
        </div>              
        <div>
            Zip Code: <input 
            formControlName="ZipCode"
            type="text" nbInput placeholder="eg. 99999">
        </div>
        <div>
            Foreign Country: <input 
            formControlName="ForeignCountry"
            type="text" nbInput placeholder="eg. Japan">
        </div>
        <div>
            Report: <textarea 
            formControlName="Report"
            nbInput placeholder="Details"></textarea>
        </div>
        <div>
            <button nbButton>submit</button><a href="#">clear form</a>
        </div>
    </form>
    </nb-card-body>
  </nb-card>

    


